Maya Asher, 3/22/24
# Reprocessing the Santa Barbara Corpus of Spoken American English
**NEW REPLACEMENT**

The SBCSAE is a collection of time-aligned transcripts of audio files. Along with timestamps, the transcripts also include many non-alphabetic characters that denote different aspects of the speech. In this notebook, I will be processing and cleaning up the raw text so that I can easily search for and locate my target words in my later analysis. 
## Import

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import nltk
import re
%pprint

Pretty printing has been turned OFF

## Read in files
There are 43 TRN files that need to be imported from my folder. I've created a list of data frames to hold all 43 transcripts, but there are many unresolved issues with formatting so only 26 transcripts have been added so far. They are also not in numerical order, but I had issues getting that to work (see commented-out code below).

In [2]:
path = "/Users/mayaasher/data_science/Stance-Taking-in-Spontaneous-Speech/data/utf-16/"
os.chdir(path)
data_frames = []
for file in os.listdir():
    try:
        if file.endswith(".trn"): 
            filename = file
            data = pd.read_csv(path+filename, sep='\t', header=None, encoding='utf-16-be')
            df = pd.DataFrame(data)
            data_frames.append(df)
    except pd.errors.ParserError as e:
        # Handle the parsing error
        print(f"Error parsing {filename}: {e}")
    except Exception as e:
        # Handle other unexpected errors
        print(f"An error occurred: {e}")

Error parsing SBC023.trn: Error tokenizing data. C error: Expected 4 fields in line 475, saw 5

Error parsing SBC019.trn: Error tokenizing data. C error: Expected 4 fields in line 172, saw 5

Error parsing SBC024.trn: Error tokenizing data. C error: Expected 4 fields in line 621, saw 5

Error parsing SBC018.trn: Error tokenizing data. C error: Expected 4 fields in line 564, saw 5

Error parsing SBC056.trn: Error tokenizing data. C error: Expected 4 fields in line 289, saw 5

Error parsing SBC048.trn: Error tokenizing data. C error: Expected 4 fields in line 691, saw 5

Error parsing SBC060.trn: Error tokenizing data. C error: Expected 4 fields in line 43, saw 5

Error parsing SBC058.trn: Error tokenizing data. C error: Expected 4 fields in line 254, saw 5

Error parsing SBC059.trn: Error tokenizing data. C error: Expected 4 fields in line 1710, saw 5

Error parsing SBC015.trn: Error tokenizing data. C error: Expected 4 fields in line 940, saw 5

Error parsing SBC029.trn: Error tokenizing data. C error: Expected 4 fields in line 954, saw 5

Error parsing SBC014.trn: Error tokenizing data. C error: Expected 2 fields in line 1122, saw 4

Error parsing SBC016.trn: Error tokenizing data. C error: Expected 4 fields in line 1185, saw 5

Error parsing SBC017.trn: Error tokenizing data. C error: Expected 4 fields in line 32, saw 5

Error parsing SBC007.trn: Error tokenizing data. C error: Expected 3 fields in line 631, saw 5

Error parsing SBC013.trn: Error tokenizing data. C error: Expected 3 fields in line 482, saw 5

Error parsing SBC004.trn: Error tokenizing data. C error: Expected 3 fields in line 102, saw 4

In [3]:
data_frames[0]

            0         1       2                                            3
0       0.000     4.475   >ENV:                 ((DOOR_OPENING_AND_CLOSING))
1       4.475     5.077  KAREN:                                  Hi sweetie.
2       5.077     5.908  SCOTT:                                     ... Hey.
3       5.908     6.489     NaN                                  .. (THROAT)
4       6.489     7.630  KAREN:                    <X Sweetie frumptions X>.
..        ...       ...     ...                                          ...
734  1449.400  1451.002  SCOTT:  [I'll come visit you tom]orrow at [2work2].
735  1450.749  1451.643  KAREN:                                   [2Y=2]es=.
736  1451.643  1454.028     NaN                      ... That would be nice.
737  1454.028  1459.042     NaN                  ... (COUGH) (COUGH) (COUGH)
738  1459.042  1480.445  SCOTT:                                ... (HUMMING)

[739 rows x 4 columns]

In [4]:
len(data_frames)

26

### Buggy code that I will come back to if needed...

In [5]:
# path = "/Users/mayaasher/data_science/Stance-Taking-in-Spontaneous-Speech/data/utf-16/"
# pattern = r'\d+'
# files = os.listdir(path)
# files.sort(key=lambda x: int(re.search(pattern, x).group()) if re.search(pattern, x) else float('inf'))

# filenames = []
# for file in files:
#     if file.endswith(".trn"): 
#         filenames.append(file)

In [6]:
# path = "/Users/mayaasher/data_science/Stance-Taking-in-Spontaneous-Speech/data/utf-16/"
# data_frames = []
# for file in filenames:
#     data = pd.read_csv(path+file, sep='\t', header=None, encoding='utf-16-be', error_bad_lines=False)
#     df = pd.DataFrame(data)
#     data_frames.append(df)

In [7]:
# path = "/Users/mayaasher/data_science/Stance-Taking-in-Spontaneous-Speech/data/utf-16/"

# files = os.listdir(path)
# pattern = r'\d+'
# files.sort(key=lambda x: int(re.search(pattern, x).group()) if re.search(pattern, x) else float('inf'))

# data_frames = []

# for file in files:
#     try:
#         # Check if the file is a .trn file
#         if file.endswith(".trn"): 
#             filename = file
#             # Try reading the file
#             data = pd.read_csv(path + filename, sep='\t', header=None, encoding='utf-16-be')
#             df = pd.DataFrame(data)
#             data_frames.append(df)
#     except pd.errors.ParserError as e:
#         # Handle the parsing error
#         print(f"Error parsing {filename}: {e}")
#     except Exception as e:
#         # Handle other unexpected errors
#         print(f"An error occurred: {e}")

`[A-Z][A-Z]+:` to get the names and separate turns
`\d+.\d+` to get time stamps